<table>
  <tr>
    <th><%= l(:label_agile_board_issues_per_column) %></th>
    <td><%= text_field_tag 'settings_issues_per_column', settings['issues_per_column'], :size => 3, :name => "settings[issues_per_column]" %></td>
  </tr>
</table>
