<p><label for="settings_notice_message"><%= l(:label_questions_notice_message) %></label>
<%= text_area_tag 'settings[notice_message]', @settings[:notice_message], :class => 'wiki-edit', :rows => 5 %>
</p>