<% if User.current.allowed_to?(:suppress_mail_notifications, @project) %>
  <% if defined?(issues) %>
    <hr>
  <% end %>
  <p>
    <%= hidden_field_tag 'suppress_mail', '0', :id => nil %>
    <%= check_box_tag 'suppress_mail' %>
    <%= label_tag 'suppress_mail', l(:label_silencer_suppress_mail) %>
  </p>
<% end %>
