<div id="tags_data">
	<span class="tags">
		<%= render :partial => 'contacts/tags_item', :collection => tag_list, :locals => {:is_note => false} %>
	</span>
	<% if editable && authorize_for('contacts', 'update') %>
	<span class="contextual">
		<%= link_to l(:label_crm_edit_tags), {}, :onclick => "$('#edit_tags_form').show(); $('#tags_data').hide();  return false;", :id => 'edit_tags_link' %>
	</span>
	<% end %>
</div>
