<p>  
  <label>Show excerpt issues list</label>
  <%= check_box_tag 'settings[show_excerpt_tickets_list]', 1, @settings[:show_excerpt_tickets_list] %>
</p>

<p>  
  <label><%= l(:setting_plain_text_mail) %></label>
  <%= check_box_tag 'settings[plain_text_mail]', 1, @settings[:plain_text_mail] %>
</p>
