
<h2><%=l(:project_module_process_frameworks) %> <a style="font-size:8pt" target="_blank" href="/settings/plugin/redmine_process_frameworks">(configure)</a></h2>
<%= render_tabs admin_models_tabs %>
<% html_title(l(:project_module_process_frameworks)) -%>

