<h2><%= l(:label_query) %></h2>

<%= form_tag(contacts_query_path(@query), :onsubmit => 'selectAllOptions("selected_columns");', :method => :put) do %>
  <%= render :partial => 'contacts_queries/form', :locals => {:query => @query} %>
  <%= submit_tag l(:button_save) %>
<% end %>
